/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#cams {
	position: fixed;
	top: 16px;
	right: 36px;
	z-index: 10;

}

.innercam {
	height: 150px;
	width: 150px;
}

#map {
	height: 70%;
	width: 100%;
	margin-bottom:25px;
}

html, body {
	height: 100%;
	overflow:hidden;
	overflow-y:auto;
}
