#feature {
	background: url("img/bg.jpg") no-repeat center center;
	background-size: cover;
	height: 600px;
	width: 100%;
	text-align: center;
	background-color: black;
}
#maintitle {
	text-align: center;
	color: white;
	font-size: 20vh;
}
#slogan {
	font-size: 4vh;
	color: #c4c4c4;
}
.btn {
	background-color: #1a1a1a;
	color: #fff;
	font-size: 6vh;
	padding: 8px 30px;
	border-radius: 10px;
	display: inline-block;
}
.midcontainer {
	padding-top: 15%;
}
.info {
	height: 350px;
}
.subheading {
	text-align: center;
	padding-top: 2%;
}
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 70%;
	width: 50%;
}
/* Sets size of sample page */


html, body {
	height: 100%;
}